/* Header styles */
.header {
    width: 100%;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.header__content {
    display: flex;
    justify-content: center;
}

.header__nav {
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding:0 5%;
    position: relative;
}

.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__icon {
    width: 24px;
    height: 24px;
}
